<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="淘宝宝聚合了淘宝、京东、亚马逊的商品，可以提供一站式的淘货体验。" name="description">
  <meta content="淘宝宝搜索" name="keywords">
  <title>剁手吧</title>
  <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='favicon.ico') }}" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body class="container">

  <header class="row">
    <nav class="col-md-12 navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://127.0.0.1:5000">Taobao</a>
      </div>
      <div class="collaps navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!--
          <li><a href="/categories">商品分类</a></li>
          <li><a href="#">登 陆</a></li>
          //-->
        </ul>
      </div>
    </nav>
  </header>

{% block body %}{% endblock %}

  <footer class="footer">
    <span>&copy; 2017</span> Powered by
    <a target="_blank" href="https://github.com/scrapy/scrapy/">Scrapy</a>,
    <a target="_blank" href="https://github.com/pallets/flask/">Flask</a> and
    <a target="_blank" href="https://github.com/twbs/bootstrap/">Bootstrap</a>
  </footer>

  <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='page.js') }}"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
